<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Inquiry Submission</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <h4><a class="nav-link" href="/">Home</a></h4>
    </li>
    <li class="nav-item">
      <h4><a class="nav-link" href="/queries">Inquiries</a></h4>
    </li>
      </ul>
</nav>
