<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
<body class="container">
  <main>
  <div class="jumbotron"> 
  <% messages.forEach((msg) =>{ %>
    <p><%= msg %></p>
 <% }) %>
  <% if (currentUser) {%>
    <h1>WELCOME BACK <%= currentUser.name %></h1>
    <p>You can access a restricted page <a href="/queries">here.</a></p>
    <a class="btn btn-primary" href="/log-out">LOG OUT</a>
  <% } else { %>
    <h1>Please log in or <a class="btn btn-primary" href="/sign-up">Sign Up</a></h1>
    <form action="/log-in" method="POST">
      <label for="email">Emial:</label>
      <input name="email" placeholder="Email" type="text" />
      <label for="password">Password</label>
      <input name="password"  placeholder="Password" type="password" />
      <button class="btn btn-primary">Log In</button>
    </form>
  <%}%>
  </div>
</main>
</body>
</html>