<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <% messages.forEach((msg) =>{ %>
        <p><%= msg %></p>
        <% }) %> <% if (currentUser) {%>

        <h4>Welcome to our Legal Inquiries Page:</h4>
        <br />
        <h1>Got a legal Inquiry?</h1>
        <br />

        <p>
          Here you can submit your legal regarding your pending case or anything
          else.
        </p>
        <h2>How?</h2>
        <br />
        <h4>
          To be able to submit your legal questions, you'll need to register<br />
          your account and provide some information. You can submit as many
          inquiries as you want. See examples below:
        </h4>

        <blockquote>
          <b>Category</b>: "Green Card", <b>Question</b>: "I need help
          applying."<br />
          <b>Category</b>: "TPS", <b>Question</b>: "Any update on my
          application?"<br />
          <b>Category</b>: "Family Reunification", <b>Question</b>: "I need to
          schedule an appointment."
        </blockquote>
        <div class="sdb">
          <p>Please don't forget to before leaving the site.</p>
          <a class="btn btn-primary" href="/log-out">LOG OUT</a>
        </div>
        <% } else { %>
        <h4>Welcome to our Legal Inquiries Page:</h4>
        <br />
        <h1>Got a legal Inquiry?</h1>
        <br />

        <p>
          Here you can submit your legal regarding your pending case or anything
          else.
        </p>
        <h2>How?</h2>
        <br />
        <p>
          To be able to submit your legal questions, you'll need to register<br />
          your account and provide some information. You can submit as many
          inquiries as you want. See examples below:
        </p>

        <p>
          <b>Category</b>: "Green Card", <b>Question</b>: "I need help
          applying."<br />
          <b>Category</b>: "TPS", <b>Question</b>: "Any update on my
          application?"<br />
          <b>Category</b>: "Family Reunification", <b>Question</b>: "I need to
          schedule an appointment."
        </p>

        <div class="sdb">
          <form action="/log-in" method="POST">
            <label for="email">Email:</label><br />
            <input name="email" placeholder="Email" type="text" /><br />
            <label for="password">Password:</label><br />
            <input
              name="password"
              placeholder="Password"
              type="password"
            /><br /><br />
            <button class="btn btn-primary">Log In</button>
          </form>
        </div>

        <%}%>
      </div>
    </main>
  </body>
</html>
