<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
      </head>
<body class="container">
    
    <div class="jumbotron">
        <% if (currentUser) {%>
            <h1>WELCOME BACK <%= currentUser.name %></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quibusdam velit odio dicta harum blanditiis, molestiae odit sunt quam inventore mollitia ad dolorum aspernatur natus ex fugit ipsum suscipit pariatur.</p>
            <a href="/log-out">LOG OUT</a>
   
   <% }else { %>
    <p>This page is restricted.  You can't see it unless you are logged on.</p>
    <p>You have visited this page <%= pageCount %> times since logon.</p>
    <p><a href="/"">Back to the home page.</a></p>
    <% } %>
    


</div>
</body>
</html>