<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
      </head>
<body class="container">
    <% messages.forEach((msg) =>{ %>
        <p><%= msg %></p>
     <% }) %>
      <% if (currentUser) {%>
        <h1>WELCOME BACK <%= currentUser.name %></h1>
   <p>This page is restricted.  You can't see it unless you are logged on.</p>
   <p>You have visited this page <%= pageCount %> times since logon.</p>
   <p><a href="/"">Back to the home page.</a></p>
   <% } %>
    <br>
    <br>
    <br>
</body>
</html>